<h2 class="d-flex justify-content-center m-3">{{courseTitle}}: Results</h2>
<p class="mx-3">Note: The higher the ranking number, the higher the relative quality</p>
<table class="table table-striped px-2 mx-3 w-auto">
    <tr class="table-dark">
        <th>Rank</th>
        <th>Username</th>
        <th>Final Score</th>
        <th></th>
    </tr>   
    {{#each subs}}
    <tr class="table-light">
        <th>{{this.rank}}</th>
        <td>{{this.username}}</td>
        <td>{{this.latestScore}}</td>
        <td><a href="/submitted_work/{{this.subId}}" target="_blank">View Submission</a></td>
    </tr>
    {{/each}}
</table>